* {
    font-family: 'Exo', sans-serif; 
    text-align: center;
}

body {
    margin-top: 50px;
    background-color: rgb(73, 73, 73);
}

button {
    height: 80px;
    width: 80px;
    border: 0px;
    margin: 7px 7px 7px 7px;
    border-radius: 20px;
}

button:focus {
    outline: none;
    filter: invert(25%);
    animation-name: press;
    animation-duration: 250ms;
}

button:disabled {
    cursor: not-allowed;
}

h1 {
    margin-top: 100px;
    font-size: 250px;
    color: white;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: black;
}

@keyframes press {
    50% {
        margin: 2px 2px 2px 2px;
        height: 86px;
        width: 86px;
    }
}

.centered {
    display: inline-grid;
}

.tile1 {
    grid-row-start: 1;
    grid-row-end: 2;
}
